<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chat App</title>
  </head>
  <body>
    <h1>Create room </h1>
    <h3>{{message}}</h3>
    <form class="" action="/create-room" method="post">
      <div class="">
        <label for="">Room name</label>
        <input type="text" name="room_name" value="">
      </div>
      <div class="">
        <label for="">Members</label>
        <input type="text" name="members" value="">
      </div>

      <button type="submit" name="button">Create</button>
    </form>
  </body>
</html>
