<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chat App</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <h3>{{message}}</h3>
    <form class="" action="/signup" method="post">
      <div class="">
        <label for="">Username</label>
        <input type="text" name="username" value="">
      </div>
      <div class="">
        <label for="">Email</label>
        <input type="text" name="email" value="">
      </div>
      <div class="">
        <label for="">Password</label>
        <input type="password" name="password" value="">
      </div>
      <button type="submit" name="button">SignUp</button>
    </form>
  </body>
</html>
